.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: $shadow;
  border-radius: 40px;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 500ms ease-in-out;
  min-height: 570px;
  justify-content: space-between;
  min-width: 450px;
  &__shrink {
    min-height: 350px;
  }
  &__btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__logo {
    width: 100px;
    height: 100px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    // align-items: center;
    & > input {
      margin-bottom: 10px;
      width: 350px;
      padding: 15px;
      border-radius: 30px;
      border: none;
      outline: none;
      box-shadow: $shadow;
    }
    & > button {
      padding: 15px;
      width: 200px;
      border: none;
      outline: none;
      background: linear-gradient(120deg, $icon-light-blue, $icon-dark-blue);
      color: white;
      border-radius: 30px;
      font-weight: bolder;
      cursor: pointer;
    }
  }
}
.resetPassword {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: $shadow;
  border-radius: 40px;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 500ms ease-in-out;
  justify-content: space-between;
  min-width: 450px;
}
