.story-layout {
  display: flex;
  overflow: hidden;
  justify-content: center;
  overflow-x: scroll;
  padding-top: 100px;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 790px) {
  .story-layout {
    justify-content: left;
  }
}